<a href="https://colab.research.google.com/github/hublun/TWSApi/blob/master/IBApi_Historical_Data_Visualizing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd

In [18]:
df = pd.read_pickle('/content/drive/MyDrive/TWS/M2K_20201115_to_20201120163500.pkl')

In [19]:
df["Time"] = pd.to_datetime(df["time"], format='%Y%m%d  %H:%M:%S', yearfirst=True)

In [20]:
df.drop('time', axis=1, inplace=True)

In [21]:
df["Hour"] = pd.DatetimeIndex(df["Time"]).hour
df["Minute"] = pd.DatetimeIndex(df["Time"]).minute
df["Second"] = pd.DatetimeIndex(df["Time"]).second
df["Day"] = pd.DatetimeIndex(df["Time"]).day

In [22]:
initialDateTime = df.Time[0]
initialDateTime

Timestamp('2020-11-15 18:00:00')

In [23]:
df["TradeDay"] = pd.TimedeltaIndex(df.Time - initialDateTime).days

In [24]:
df.head()

     open    high     low   close      avg  ...  Hour Minute  Second  Day  TradeDay
0  1747.9  1750.0  1745.0  1745.9  1747.97  ...    18      0       0   15         0
1  1748.8  1749.5  1748.8  1749.2  1749.17  ...    18      0       5   15         0
2  1749.1  1749.1  1747.2  1747.2  1748.68  ...    18      0      10   15         0
3  1748.5  1748.9  1748.5  1748.9  1748.63  ...    18      0      15   15         0
4  1749.0  1749.5  1748.6  1749.5  1749.23  ...    18      0      20   15         0

[5 rows x 12 columns]

In [25]:
df["mu10min"] = df.avg.rolling(window=120, min_periods=1).mean()

df["mu5min"] = df.avg.rolling(window=60, min_periods=1).mean()
df["mu2min"] = df.avg.rolling(window=24, min_periods=1).mean()
df["mumin"] = df.avg.rolling(window=12, min_periods=1).mean()
df["dev"] = df.close - df.open

df["delta1m"] = df.avg - df.mumin
df["delta2m"] = df.avg - df.mu2min

df["delta5m"] = df.avg - df.mu5min
df["delta10m"] = df.avg - df.mu10min

In [26]:
df.head()

     open    high     low   close  ...   delta1m   delta2m   delta5m  delta10m
0  1747.9  1750.0  1745.0  1745.9  ...  0.000000  0.000000  0.000000  0.000000
1  1748.8  1749.5  1748.8  1749.2  ...  0.600000  0.600000  0.600000  0.600000
2  1749.1  1749.1  1747.2  1747.2  ...  0.073333  0.073333  0.073333  0.073333
3  1748.5  1748.9  1748.5  1748.9  ...  0.017500  0.017500  0.017500  0.017500
4  1749.0  1749.5  1748.6  1749.5  ...  0.494000  0.494000  0.494000  0.494000

[5 rows x 21 columns]

In [27]:
df["pb30sec"] = (df.avg - df.avg.shift(periods=6)).fillna(0.0)
df["pbmin"] = (df.avg - df.avg.shift(periods=12)).fillna(0.0)
df["pb5min"] = (df.avg - df.avg.shift(periods=5*12)).fillna(0.0)
df["pb10min"] = (df.avg - df.avg.shift(periods=10*12)).fillna(0.0)
df.head()

     open    high     low   close  ...  pb30sec  pbmin pb5min  pb10min
0  1747.9  1750.0  1745.0  1745.9  ...      0.0    0.0    0.0      0.0
1  1748.8  1749.5  1748.8  1749.2  ...      0.0    0.0    0.0      0.0
2  1749.1  1749.1  1747.2  1747.2  ...      0.0    0.0    0.0      0.0
3  1748.5  1748.9  1748.5  1748.9  ...      0.0    0.0    0.0      0.0
4  1749.0  1749.5  1748.6  1749.5  ...      0.0    0.0    0.0      0.0

[5 rows x 25 columns]

In [28]:
df["pf10sec"] = (df.avg.shift(-2)-df.avg).fillna(0.0)
df["pf30sec"] = (df.avg.shift(-6)-df.avg).fillna(0.0)
df["pfmin"] = (df.avg.shift(-12)-df.avg).fillna(0.0)
df["pf2min"] = (df.avg.shift(-2*12)-df.avg).fillna(0.0)
df["pf5min"] = (df.avg.shift(-5*12)-df.avg).fillna(0.0)
df.tail()

         open    high     low   close  ...  pf30sec  pfmin pf2min  pf5min
81595  1779.6  1779.6  1779.6  1779.6  ...      0.0    0.0    0.0     0.0
81596  1779.4  1779.4  1779.4  1779.4  ...      0.0    0.0    0.0     0.0
81597  1779.4  1779.4  1778.9  1778.9  ...      0.0    0.0    0.0     0.0
81598  1778.9  1778.9  1778.9  1778.9  ...      0.0    0.0    0.0     0.0
81599  1778.7  1778.7  1778.6  1778.6  ...      0.0    0.0    0.0     0.0

[5 rows x 30 columns]

In [29]:
df.columns[16:30]

Index(['dev', 'delta1m', 'delta2m', 'delta5m', 'delta10m', 'pb30sec', 'pbmin',
       'pb5min', 'pb10min', 'pf10sec', 'pf30sec', 'pfmin', 'pf2min', 'pf5min'],
      dtype='object')

In [ ]:
df.drop(df.head(10*12).index, inplace=True)
df.drop(df.tail(5*12).index, inplace=True)

In [ ]:
df.shape[0]

81420

In [ ]:
df.columns[16:30]

Index(['dev', 'delta1m', 'delta2m', 'delta5m', 'delta10m', 'pb30sec', 'pbmin',
       'pb5min', 'pb10min', 'pf10sec', 'pf30sec', 'pfmin', 'pf2min', 'pf5min'],
      dtype='object')

In [ ]:
data = df[df.columns[16:30]]

In [ ]:
data

       dev   delta1m   delta2m   delta5m  ...  pf30sec  pfmin  pf2min  pf5min
120    0.0  0.312500  0.454167  0.448500  ...     0.10  -0.10   -0.97    1.15
121    0.0  0.366667  0.508333  0.506000  ...     0.00  -0.30   -0.87    0.82
122    0.0  0.333333  0.462500  0.468667  ...     0.00  -0.40   -1.30    0.10
123    0.0  0.300000  0.412500  0.449167  ...     0.20  -0.60   -1.00   -0.18
124    0.0  0.266667  0.358333  0.426667  ...     0.37  -0.47   -0.82   -0.62
...    ...       ...       ...       ...  ...      ...    ...     ...     ...
81535  0.1  0.044167 -0.476250 -1.500500  ...     0.97   0.35   -0.25    0.75
81536  0.0  0.012500 -0.540833 -1.535167  ...     1.05   0.55   -0.15    0.65
81537  0.1 -0.214167 -0.745000 -1.716833  ...     1.92   0.33    0.58    0.58
81538  0.5  0.194167 -0.283750 -1.230500  ...     1.37   0.17    0.27   -0.03
81539  0.7  0.807500  0.390417 -0.527000  ...     0.65  -0.39   -0.97   -0.94

[81420 rows x 14 columns]

In [ ]:
data.reset_index(inplace=True, drop=True)

In [ ]:
data

       dev   delta1m   delta2m   delta5m  ...  pf30sec  pfmin  pf2min  pf5min
0      0.0  0.312500  0.454167  0.448500  ...     0.10  -0.10   -0.97    1.15
1      0.0  0.366667  0.508333  0.506000  ...     0.00  -0.30   -0.87    0.82
2      0.0  0.333333  0.462500  0.468667  ...     0.00  -0.40   -1.30    0.10
3      0.0  0.300000  0.412500  0.449167  ...     0.20  -0.60   -1.00   -0.18
4      0.0  0.266667  0.358333  0.426667  ...     0.37  -0.47   -0.82   -0.62
...    ...       ...       ...       ...  ...      ...    ...     ...     ...
81415  0.1  0.044167 -0.476250 -1.500500  ...     0.97   0.35   -0.25    0.75
81416  0.0  0.012500 -0.540833 -1.535167  ...     1.05   0.55   -0.15    0.65
81417  0.1 -0.214167 -0.745000 -1.716833  ...     1.92   0.33    0.58    0.58
81418  0.5  0.194167 -0.283750 -1.230500  ...     1.37   0.17    0.27   -0.03
81419  0.7  0.807500  0.390417 -0.527000  ...     0.65  -0.39   -0.97   -0.94

[81420 rows x 14 columns]

In [ ]:
data.to_pickle('/content/drive/MyDrive/TWS/Data.pkl')