<a href="https://colab.research.google.com/github/hublun/TWSApi/blob/master/IBTWS_Simulated_order.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [55]:
df = pd.read_pickle('/content/SimulatedOrders.pkl')

In [56]:
df["datetime"] = pd.to_datetime(df.time, unit='s')-pd.Timedelta('05:00:00')

In [57]:
df.drop(df.columns[0], axis=1, inplace=True)

In [61]:
df["P/L"] = pd.DataFrame.cumsum(df.type*df.price)
df["Pos"] =  df.type.cumsum()

In [62]:
df.head()

   type    price            datetime      P/L  Pos
0  -1.0  1894.60 2020-12-06 20:44:05 -1894.60 -1.0
1  -1.0  1894.00 2020-12-06 21:01:45 -3788.60 -2.0
2   1.0  1893.20 2020-12-06 21:16:25 -1895.40 -1.0
3   1.0  1892.50 2020-12-06 21:27:50    -2.90  0.0
4   1.0  1891.35 2020-12-06 21:30:00  1888.45  1.0